@import '../../../../vendor/filament/filament/resources/css/theme.css';
@config '../../../../tailwind.config.js';

@import url("https://fonts.bunny.net/css?family=source-sans-3:400,500,600,700&display=swap");

:root {
  --font-family: "Source Sans 3", system-ui, sans-serif;

  /* Align Filament primary with app design tokens */
  --primary-50: 235 243 255;
  --primary-100: 216 232 255;
  --primary-200: 178 210 254;
  --primary-300: 136 185 253;
  --primary-400: 100 164 252;
  --primary-500: 73 148 253;
  --primary-600: 33 126 253;
  --primary-700: 2 98 232;
  --primary-800: 2 78 186;
  --primary-900: 1 60 140;

  /* Status colors aligned with app semantics */
  --success-50: 235 243 255;
  --success-100: 216 232 255;
  --success-200: 178 210 254;
  --success-300: 136 185 253;
  --success-400: 100 164 252;
  --success-500: 73 148 253;
  --success-600: 33 126 253;
  --success-700: 2 98 232;
  --success-800: 2 78 186;
  --success-900: 1 60 140;

  --warning-50: 241 245 247;
  --warning-100: 241 245 247;
  --warning-200: 179 179 179;
  --warning-300: 179 179 179;
  --warning-400: 179 179 179;
  --warning-500: 179 179 179;
  --warning-600: 120 120 120;
  --warning-700: 90 90 90;
  --warning-800: 60 60 60;
  --warning-900: 30 30 30;

  --danger-50: 254 242 242;
  --danger-100: 254 226 226;
  --danger-200: 254 202 202;
  --danger-300: 252 165 165;
  --danger-400: 248 113 113;
  --danger-500: 239 68 68;
  --danger-600: 220 38 38;
  --danger-700: 185 28 28;
  --danger-800: 153 27 27;
  --danger-900: 127 29 29;

  --gray-50: 241 245 247;
  --gray-100: 241 245 247;
  --gray-200: 179 179 179;
  --gray-300: 179 179 179;
  --gray-400: 179 179 179;
  --gray-500: 179 179 179;
  --gray-600: 60 60 60;
  --gray-700: 45 45 45;
  --gray-800: 30 30 30;
  --gray-900: 15 15 15;
}

.fi-btn.fi-btn-color-primary {
  background-color: rgb(var(--primary-600));
  color: rgb(255 255 255);
}

.fi-btn.fi-btn-color-primary:hover {
  background-color: rgb(var(--primary-700));
}

.fi-btn.fi-btn-color-primary:focus-visible {
  outline: 2px solid rgb(var(--primary-600));
  outline-offset: 2px;
}
